/** @type {import('next').NextConfig} */
const nextConfig = {
    images: {
        domains: ['live.staticflickr.com']
    },
    env: {
        API_KEY: 'api_key'
    }
}

module.exports = nextConfig
